/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: var(--main-font);
  color: var(--color-primary);
  overflow-x: hidden;
  /* ttest */
  position: relative;
}

/* Variables */

:root {
  --main-font: 'Montserrat', sans-serif;
  --review-font: 'Mina', sans-serif;
  --color-primary: #fff;
  --color-secondary: #e2a000;
  --background-color: #282828;
}

/* test scroll spy */
.nav-tabs {
  border: none !important;
}

/* fix border around nav link on hover */
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active {
  border: none;
}

/* fix home button retaining border */

.nav-tabs .nav-link {
  border: none;
}

a.nav-link.active:hover {
  border: none !important;
}

a.nav-link.active {
  border: none !important;
  background-color: transparent !important;
  color: var(--color-secondary) !important;
}

/* Preloader */

.preloader {
  background-color: rgb(40, 40, 40);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader.hidden {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader-img {
  height: 30px;
  animation: load 1s infinite alternate;
}

@keyframes load {
  100% {
    transform: scale(1.5);
  }
}

/* Navigation */
/* Hamburger Menu */
.nav-toggle,
.one,
.two,
.three {
  transition: all 0.5s;
}

.one {
  transform: rotate(45deg) translate(2px, 16px);
}
.two {
  transform: translateX(200px);
}
.three {
  transform: rotate(-45deg) translateY(-14px);
}

.nav-con {
  transform: translateX(10px);
}

.navbar-toggler:focus {
  outline: none;
}

/* End of Hamburger menu */

.nav-custom {
  background: rgba(0, 0, 0, 0.9) !important;
  overflow: hidden;
}

.nav-custom li {
  margin: 0 9px;
}
.nav-custom li.active {
  position: relative;
}
.nav-custom li.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 40px;
  background-color: var(--color-secondary);
  transform: translateX(50%);
  border-radius: 5px;
}

.nav-custom a {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-primary) !important;
  transition: all 0.5s;
}
.nav-custom a:hover {
  color: var(--color-secondary) !important;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-toggle-icon {
  background-color: var(--color-secondary);
  width: 40px;
  height: 5px;
  margin: 3px;
  border-radius: 5px;
}

.navbar-toggler {
  border: none;
}

.btn-nav {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  width: 150px;
}
.btn-nav:hover,
.btn-nav:active {
  color: var(--color-secondary) !important;
  background-color: var(--color-primary) !important;
}

/* Jumbotron */

.jumbotron {
  background: url('https://i.postimg.cc/zDQ24Hy2/hero-image-min.png') center
      center,
    linear-gradient(89.62deg, #0b0b0b 47.11%, rgba(44, 44, 84, 0) 92.11%);
  background-color: #fff;
  background-blend-mode: luminosity;
  background-size: cover;
  background-attachment: fixed;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-text {
  color: var(--color-primary);
  font-size: 44px;
  font-weight: bold;
  line-height: 60px;
}

.jumbotron-text span {
  color: var(--color-secondary) !important;
}

.btn-jumbotron {
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  background-color: #000;
  border-radius: 5px;
  /* padding: 8px 22px; */
  height: 70px;
  width: 250px;
  font-size: 18px;
  font-weight: bold;
}

.btn-jumbotron:hover {
  color: var(--color-secondary);
  border: 2px solid #fff;
}

.jumbo-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.jumbo-icon img:hover {
  background-color: var(--color-secondary);
}

.jumbo-icon img {
  margin: 10px 0;
  background-color: #000;
  border-radius: 50%;
}

.mobile-jumbo {
  background-color: #010101;
  display: none;
  border: none;
  padding: 30px 0;
}

.mobile-text {
  font-size: 38px;
  line-height: 50px;
}

#about {
  margin: 0;
  padding-top: 50px;
  margin-bottom: 32px;
}

/* #about .container {
        margin: 0 20px!important;
    } */
.read-more {
  margin-bottom: 0;
  padding-bottom: 20px;
}

.about-image {
  /* height: 600px; */
  height: 100%;
  /* min-width: 100%; */
  /* border-radius: 0px 100px 0px 0px; */
}

.about-image img {
  /* object-fit: cover; */
  height: 100%;
  width: 100%;
}

.about-header {
  font-size: 36px;
  font-weight: bold;
}

.about-name {
  font-size: 48px;
  font-weight: bold;
}

.about-text {
  font-size: 16px;
  line-height: 40px;
}

.about-btn {
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
}

.about-btn:hover {
  color: var(--color-primary);
}

.about-btn span {
  margin-left: 15px;
}

.about2 {
  border-radius: 0 30px;
  background-color: #040506;
  margin-left: 0;
  color: var(--color-secondary);
}

.about-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

#about .photo {
  font-size: 48px;
  font-weight: bold;
  text-align: justify;
}

#about .photo-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.about-text-container {
  padding-left: 50px;
}

/* Portfolio */

#portfolio {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.portfolio-header {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}

#portfolio .card {
  transition: transform 0.5s;
}

/* #portfolio .card:hover {
        transform: scale(1.05);
    } */

.col-md-3 .card {
  box-shadow: 2px 7px 16px rgba(11, 11, 11, 0.25);
  background-color: transparent;
  border-radius: 5px;
}

#portfolio .card-body {
  background: #0f0f0f;
  border-radius: 0px 0px 5px 5px;
}

#portfolio .card-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

/* Projects */

#projects {
  margin: 0;
  padding-top: 50px;
  margin-bottom: 50px;
  background: #0f0f0f;
}

#projects img {
  transition: transform 0.8s ease-out;
}

#projects img:hover {
  transform: scale(1.1);
}

#projects button:hover {
  animation-iteration-count: unset !important;
}

.projects-header {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-secondary);
}

#projects .col-md-8,
#projects .col-md-4 {
  margin-bottom: 30px;
}

/* projects */

.col-12 .card {
  box-shadow: 2px 7px 16px rgba(11, 11, 11, 0.25);
  background-color: transparent;
  border-radius: 5px;
}

#projects .btn {
  width: 250px;
  height: 70px;
  margin: 15px;
  font-weight: bold;
}

.project-btn1 {
  color: var(--color-primary) !important;
  background-color: var(--color-secondary) !important;
}
.project-btn1:hover {
  color: var(--color-secondary) !important;
  background-color: var(--color-primary) !important;
}

.project-btn2 {
  color: var(--color-primary) !important;
  border: 2px solid var(--color-secondary) !important;
}

.project-btn2:hover {
  color: var(--color-secondary) !important;
  border: 2px solid var(--color-primary) !important;
}

/* Review */

#review {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.review-header {
  font-size: 36px;
  line-height: 42px;
  font-weight: bold;
  margin-bottom: 30px;
}

#review .card {
  background-color: transparent;
  border: none;
}

/* Contact */

#contact {
  margin: 0;
  padding-top: 50px;
  background: #0b0b0b;
  /* padding-bottom: 50px */
}

#contact .header {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
}

#contact a {
  text-decoration: none;
  color: #fff !important;
  line-height: 24px;
}

.footer-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-social a {
  margin: 0 10px;
  border: none;
  border-radius: 50%;
}

.footer-social a:hover {
  background-color: var(--color-secondary);
}

#contact .footer-btn {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-weight: bold;
  margin-top: 20px;
}
#contact .footer-btn:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.footer-input {
  border: 1px solid var(--color-primary);
  background-color: transparent;
  height: 50px;
  /* width: 250px; */
  width: 100%;
  color: var(--color-primary);
  padding-left: 20px;
}

::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-primary);
}

#contact hr {
  background-color: var(--color-secondary);
  width: 100%;
  margin: 30px auto;
}

#contact .copy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.copy p {
  margin: 0 20px;
  font-size: 14px;
}

/* Mobile contact */

.mobile .header {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.mobile p {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.mobile hr {
  width: 100%;
}

.mobile-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.mobile .footer-social {
  justify-content: center;
  align-items: center;
}

.mobile .footer-social a {
  margin: 0 20px;
}

.mobile .footer-input {
  width: 250px;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  /* About */
  .about-header,
  .about-name,
  .about-text {
    margin-bottom: 0;
  }
  .about-text {
    line-height: 30px;
  }

  /* Portfolio */

  #portfolio .card-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .about-name {
    font-size: 44px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  /* Navigation */
  .nav-custom li.active::after {
    transform: translateX(-50%);
    left: 50%;
    border-radius: 5px;
  }

  .navbar-nav {
    text-align: center;
  }

  .btn-nav {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  /* Jumbotron */

  .jumbotron {
    height: 420px;
    background-attachment: initial;
    margin-bottom: 0;
  }

  .jumbo-col,
  .jumbo-icon {
    display: none;
  }

  .mobile-jumbo {
    display: block;
  }

  /* Contact */

  #contact {
    margin: 0;
    padding-top: 50px;
    background: #0b0b0b;
    /* padding-bottom: 50px */
  }

  #contact .header {
    font-size: 18px;
    /* line-height: 18px; */
  }

  .footer-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-social a:nth-child(1) {
    margin-left: 0;
  }

  .footer-input {
    width: 100%;
  }

  #contact p {
    font-size: 14px;
  }

  #contact .footer-logo {
    transform: scale(0.8);
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  /* Navigation */

  .about-name {
    font-size: 35px;
  }

  .about-text-container {
    padding-left: 30px;
    padding-right: 0;
  }

  .about-image {
    height: 420px;
  }

  .about-text {
    line-height: 21.8px;
  }

  /* Portfolio */
  #portfolio .card-text {
    font-size: 13px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  /* Navigation */
  .mobile-logo {
    width: 96px;
    height: 35px;
  }

  .mobile-text {
    font-size: 24px;
    line-height: 34px;
    padding: 20px 0;
  }

  .btn-jumbotron {
    padding: 8px 22px;
    font-size: 14px;
    font-weight: bold;
  }

  /* About */

  .mobile-about {
    display: flex;
    flex-direction: column-reverse;
  }

  .about-text-container {
    padding-left: 0px;
    padding-right: 0;
    text-align: center !important;
  }

  .about-name,
  .about-text {
    text-align: center !important;
  }

  .about2 {
    border-radius: 0px 0px 0px 30px;
    width: 100%;
  }

  /* .mobile-about .col-md-6 {
        padding-right: 0!important;
    } */

  .about-header {
    font-size: 22px;
    line-height: 42px;
  }

  .about-name {
    font-size: 24px;
    line-height: 40px;
  }

  .about-text {
    font-size: 13px;
  }

  .about-btn {
    font-size: 14px;
    line-height: 17px;
  }

  #about .photo {
    font-size: 24px;
  }

  #about .photo-text {
    font-size: 14px;
    line-height: 22px;
  }

  /* Portfolio */

  .portfolio-header {
    font-size: 22px;
    line-height: 42px;
  }

  #portfolio .col-md-3 {
    margin-bottom: 30px;
  }

  #portfolio .card-body p {
    font-size: 18px;
  }

  /* Projects */
  .projects-header {
    font-size: 22px;
    line-height: 42px;
  }

  #projects {
    background: #010101;
  }

  /* Review */

  .review-header {
    font-size: 22px;
    line-height: 42px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  /* Jumbotron */

  .jumbotron {
    height: 320px;
  }

  .mobile-text {
    font-size: 24px;
    line-height: 34px;
    padding: 20px 0;
  }

  .btn-jumbotron {
    padding: 8px 22px;
    font-size: 14px;
  }

  /* About */

  .about-text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 466px) {
  .carousel-inner {
    width: 206px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 768px) {
  .carousel {
    width: 510px;
    margin: 0 auto;
  }
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
